<div class="mt-6">

    <div>
        <app-main-carousel></app-main-carousel>
    </div>

    <div>
        <app-product-slider title="Lehanga Choli" [productList]="LehangaCholi "></app-product-slider>
        <app-product-slider title="Men ' s Kurta" [productList]="MensKurta"></app-product-slider>
        <app-product-slider title="Women ' s Gouns" [productList]="WomenGouns"></app-product-slider>
        <app-product-slider title="Men ' s Jeans" [productList]="MensJeans"></app-product-slider>
        <app-product-slider title="Saree" [productList]="Saree"></app-product-slider>
        <app-product-slider title="Shoe ' s " [productList]="Shoes"></app-product-slider>

    </div>
</div>